
<main class="mx-auto w-50 mt-5">
  <div class="card">

    <div class="card-body text-center">
      <h5 class="card-title">Login To Access</h5>
  
      <form [formGroup]="form">
        <div class="mb-3">
          <div class="form-group">
            <label class="input-label" for="signinSrEmail">User Name</label>
    
            <input type="text" class="form-control" formControlName="username" />
            <div *ngIf="isSubmitted&&formControl.username.errors" class="text-danger">    
              <p *ngIf="formControl.username.errors.required">Please enter username.</p>    
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <div class="form-group">
            <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>

  
    </div>
  </div>
</main>
