<app-navbar [selectedNav]="'trainer'"></app-navbar>
<main class="container mt-4">

  <ng-container *ngIf="!isLoading;else loading">

    <div class="row">
      <div class="col-6 col-sm-4 col-md-3 mb-3 mb-lg-5 cursor-pointer" *ngFor="let item of pokemons;let i = index">
  
        <div class="card card-hover-shadow text-center h-100">
          <div class="card-body">
            <div class="d-flex justify-content-center mb-2">
              <img class="avatar avatar-lg" [src]="item.avatar">
            </div>
            <div class="mb-4">
              <h2 class="mb-1">{{item.name}}</h2>
            </div>
  
            <button class="btn btn-danger w-100" style="margin-bottom: 10px;" href="javascript:;"
            (click)="remove(item, i)">
            Remove 
          </button>
  
  
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</main>


<ng-template #loading>
  <div class="spinner-border" role="status">
  </div>
</ng-template>