<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pokemon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trainer']" routerLinkActive="router-link-active" [ngClass]="{'active': selectedNav==='trainer'}">Trainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/catalogue']" routerLinkActive="router-link-active" [ngClass]="{'active': selectedNav==='catalogue'}" >Catalogue</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome, {{loggedInProfile.username}}
      </span>

      <button class="btn btn-primary ml-2" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>