<app-navbar [selectedNav]="'catalogue'"></app-navbar>
<main class="container mt-4">

  <div class="page-header">
    <div class="row align-items-center mb-4">
      <div class="col-sm mb-2 mb-sm-0">
        <h1 class="page-header-title">Catlogue</h1>
      </div>

      <div class="col-sm-auto">
        <button class="btn btn-primary" style="margin-right: 10px;" href="javascript:;"
          (click)="getPokemonList(pokemons?.previous)" [disabled]="pokemons?.previous === null">
          Previous
        </button>
        <button class="btn btn-primary" href="javascript:;" (click)="getPokemonList(pokemons?.next)">
          Next
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 mb-3 mb-lg-5 cursor-pointer" *ngFor="let item of pokemons?.results; let i=index"
     >

      <div class="card card-hover-shadow text-center h-100">
        <div class="card-body">
          <div class="row align-items-center text-left mb-4">
            <div class="col">
              <span class="badge badge-soft-success p-2">{{trainerListAsHashById[i+1] ? 'Collected': 'Not
                Collected'}}</span>
            </div>
            <div class="col-auto">

            </div>
          </div>

          <div class="d-flex justify-content-center mb-2">
            <!-- Avatar -->
            <img class="avatar avatar-lg"
              src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png'>
          </div>

          <div class="mb-4">
            <h2 class="mb-1">{{item.name}}</h2>
          </div>

          <button class="btn btn-primary w-100" style="margin-bottom: 10px;" href="javascript:;"
            (click)="addToTrainer(item, i)">
            Add to Trainer
          </button>

          <button class="btn btn-primary w-100" style="margin-bottom: 10px;" href="javascript:;"
            [routerLink]="['/catalogue/details']" [queryParams]="{ url: item.url}" >
            More Info
          </button>

        </div>

      </div>
    </div>
  </div>


</main>