<app-navbar [selectedNav]="'catalogue'"></app-navbar>
<main class="container mt-4">

  <div class="page-header">
    <div class="row align-items-center mb-4">
      <div class="col-sm mb-2 mb-sm-0">
        <h1 class="page-header-title">Catlogue Detais</h1>
      </div>
    </div>
  </div>

  <div class="row gx-2 gx-lg-3">
    <div class="col-lg-5 mb-3 mb-lg-5">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-header-title">Ability</h5>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush list-group-no-gutters">
            <li class="list-group-item py-3" *ngFor="let item of abilities">
              <h5 class="modal-title">{{item.name}}</h5>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-5 mb-3 mb-lg-5">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-header-title">Stats</h5>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush list-group-no-gutters">
            <li class="list-group-item py-3" *ngFor="let item of stats">
              <h5 class="modal-title">{{item.name}}</h5>
            </li>

          </ul>
        </div>
      </div>

    </div>


  </div>
</main>