<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="content container-fluid">
    <div class="row align-items-sm-center py-sm-10">


      <div class="col-sm-6 col-md-4 text-center text-sm-left">
        <h1 class="display-1 mb-0">404</h1>
        <p class="lead">Sorry, the page you're looking for cannot be found.</p>
        <a class="btn btn-primary" [routerLink]="['/catalogue']" routerLinkActive="router-link-active" >Go back to the App</a>
      </div>
    </div>
  </div>
</main>